# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Entorno virtual
.venv/
venv/

# IDE
.vscode/
.idea/

# Variables locales
.env

# Archivos procesados
input/*
output/*

# Mantener las carpetas
!input/.gitkeep
!output/.gitkeep

# Logs y reportes
*.log
*.csv
*.json